// Colors
$color-primary: #008080;
$color-primary-dark: #004444;
$color-primary-light: #00cece;
$color-primary-light-2: #00a3a3;

$color-secondary: #800080;
$color-secondary-light: #c200c2;
$color-secondary-dark: #540054;

$color-ternary: #808000;
$color-ternary-light: #d6d600;
$color-ternary-dark: #565600;

$color-invalid: #ff805a;

$color-gray-light-1: #f7f7f7;
$color-gray-light-2: #eee;

$color-gray-dark-1: #777;
$color-gray-dark-2: #999;
$color-gray-dark-3: #333;

$color-white: #fff;
$color-black: #000;

$color-facebook-blue: #3b5998;

// Font
$default-font-size: 1.8rem;

// Grid
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 4rem;
$gutter-horizontal: 6rem;
$gutter-horizontal-small: 3rem;
$gutter-horizontal-xsmall: 1rem;

// Margins
$margin-bottom-small: 2rem;
$margin-bottom-big: 6rem;